In [5]:
for i in range (1,6):
    for j in range (1,6):
        print(i,end=" ")
    print()

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [6]:
for i in range (1,6):
    for j in range (1,6):
        print(j,end=" ")
    print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [7]:
for i in range (5,0,-1):
    for j in range (5,0,-1):
        print(i,end=" ")
    print()

5 5 5 5 5
4 4 4 4 4
3 3 3 3 3
2 2 2 2 2
1 1 1 1 1

In [8]:
for i in range (5,0,-1):
    for j in range (5,0,-1):
        print(j,end=" ")
    print()

5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1

In [9]:
for i in range (1,6):
    for j in range (1,6):
        if (j>i):
            print('0',end="")
        else:
            print("1",end="")
    print()

10000
11000
11100
11110
11111

In [10]:
for i in range (1,6):
    for j in range (1,6):
        if ((i+j)%2==0):
            print('0',end=" ")
        else:
            print("1",end=" ")
    print()

0 1 0 1 0
1 0 1 0 1
0 1 0 1 0
1 0 1 0 1
0 1 0 1 0

In [11]:
n=int(input())
for i in range (1,n+1):
    for j in range (1,n+1):
        if (i==j or i+j==n+1):
            print(i,end=" ")
        else:
            print(0,end=" ")
    print()

5
1 0 0 0 1
0 2 0 2 0
0 0 3 0 0
0 4 0 4 0
5 0 0 0 5

In [8]:
 n=int(input())
for i in range (1,n):
    for j in range (1,n):
        print(i,end=" ")
    print()

6
1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [89]:
n=int(input())
if (n%2==0):
    print(f'{n} is even')
else:
    print(f'{n} is odd')

6
6 is even

In [2]:
n=int(input())
for i in range (5,0,-1):
    for j in range (1,6):
        if (i==j or i+j==n+1):
            print(i,end=" ")
        else:
            print(0,end=" ")
    print()

5
5 0 0 0 5
0 4 0 4 0
0 0 3 0 0
0 2 0 2 0
1 0 0 0 1

In [3]:
n=int(input())
for i in range (1,10):
    for j in range (1,10):
        print(i,end=" ")
    print()

10
1 1 1 1 1 1 1 1 1
2 2 2 2 2 2 2 2 2
3 3 3 3 3 3 3 3 3
4 4 4 4 4 4 4 4 4
5 5 5 5 5 5 5 5 5
6 6 6 6 6 6 6 6 6
7 7 7 7 7 7 7 7 7
8 8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9

In [13]:
for i in range (65,70):
    for j in range (65,70):
        print(chr(j),end=" ")
    print()

A B C D E
A B C D E
A B C D E
A B C D E
A B C D E

In [14]:
n=int(input())
for i in range (65,70):
    for j in range (65,70):
        print(chr(i),end=" ")
    print()

5
A A A A A
B B B B B
C C C C C
D D D D D
E E E E E

In [18]:
n=int(input())
for i in range (69,64,-1):
    for j in range (69,64,-1):
        print(chr(j),end=" ")
    print()

65
E D C B A
E D C B A
E D C B A
E D C B A
E D C B A

In [20]:
n=int(input())
for i in range (n,n-5,-1):
    for j in range (n,n-5,-1):
        print(chr(i),end=" ")
    print()

69
E E E E E
D D D D D
C C C C C
B B B B B
A A A A A

In [21]:
for i in range (1,6):
    for j in range (1,6):
        print("*",end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [22]:
for i in range (1,6):
    for j in range (1,6):
        if (i==j or i>j):
            print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [23]:
for i in range (5,0,-1):
    for j in range (5,0,-1):
        if (i==j or i>j):
            print("*",end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [24]:
for j in range (1,6):
    for i in range (5,0,-1):
        if (i==j or j>i):
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

        *
      * *
    * * *
  * * * *
* * * * *

In [25]:
for j in range (5,0,-1):
    for i in range (1,6):
        if (i==j or j>i):
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [27]:
for j in range (1,6):  
    for i in range (5,0,-1):  
        if (i==j or j>i):   
            print("*",end=" ")  
        else:  
            print("",end=" ")  
    print()

    *
   * *
  * * *
 * * * *
* * * * *

In [28]:
for j in range (1,6):
    for i in range (1,6):
        if (i==j or i>j):
            print("*",end=" ")
        else:
            print("",end=" ")
    print()

* * * * *
 * * * *
  * * *
   * *
    *

In [5]:
for j in range (1,6):
    for i in range (5,0,-1):
        if (i==j or j>i):
            print("*",end=" ")
        else:
            print("",end=" ")
    print()
for j in range (1,6):
    for i in range (1,6):
        if (i==j or i>j):
            print("*",end=" ")
        else:
            print("",end=" ")
    print()

    *
   * *
  * * *
 * * * *
* * * * *
* * * * *
 * * * *
  * * *
   * *
    *

In [22]:
n=int(input())
for i in range (1,n+1):  
    for j in range (1,n+1):     
        if (i==j or (j==(n)) or j==(n-4)):    
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()
    
for i in range (1,n+1):  
    for j in range (1,n+1):     
        if ((i==n) or (j==(n)) or j==(n-4) or i==(n-4)):    
            print("*",end=" ")
        else:
            print(" ",end=" ")

            
    print()

5
*       *
* *     *
*   *   *
*     * *
*       *
* * * * *
*       *
*       *
*       *
* * * * *

In [23]:
n=int(input())
for i in range (1,n+1):  
    for j in range (1,n+1):     
        if ((i==n) or (j==(n)) or j==(n-4) or i==(n-4)):    
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

5
* * * * *
*       *
*       *
*       *
* * * * *

In [37]:
n=int(input())
for i in range (1,n):
        for j in range (1,n):
            if ((i+j)%2!=0):
                print(1,end=" ")
            else:
                print(0,end=" ")
        print()

6
0 1 0 1 0
1 0 1 0 1
0 1 0 1 0
1 0 1 0 1
0 1 0 1 0

In [35]:
n=int(input()) 
for i in range (1,n+1):
        for j in range (1,n+1): 
            if (i==j or (i+j)==(n+1)): 
                print(i,end=" ") 
            else: 
                print(0,end=" ")
        print()

6
1 0 0 0 0 1
0 2 0 0 2 0
0 0 3 3 0 0
0 0 4 4 0 0
0 5 0 0 5 0
6 0 0 0 0 6

In [114]:
for i in range (0,6):
    for j in range (0,7):
        if ((i==0) and (j%3!=0)) or ((i==1) and (j%3==0)) or (i-j==2) or (i+j==8):
            print('*',end=" ")
        else:
            print(' ',end=" ")
    print()

  * *   * *
*     *     *
*           *
  *       *
    *   *
      *

In [5]:
for i in range (1,6):
    for j in range (1,6):
        print(i,end=" ")
    print()

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [6]:
for i in range (1,6):
    for j in range (1,6):
        print(j,end=" ")
    print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [8]:
for i in range (5,0,-1):
    for j in range (5,0,-1):
        print(j,end=" ")
    print()

5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1

In [9]:
for i in range (5,0,-1):
    for j in range (5,0,-1):
        print(i,end=" ")
    print()

5 5 5 5 5
4 4 4 4 4
3 3 3 3 3
2 2 2 2 2
1 1 1 1 1

In [12]:
for i in range (1,6):
    for j in range (1,6):
        if ((i==j or (i+j)%2==0)):
            print('0',end=" ")
        else:
            print('1',end=" ")
    print()

0 1 0 1 0
1 0 1 0 1
0 1 0 1 0
1 0 1 0 1
0 1 0 1 0

In [20]:
n=int(input())
for i in range (1,n):
    for j in range (1,n):
        if ((i==j or (i+j)==n)):
            print(i,end=" ")
        else:
            print('0',end=" ")
    print()

6
1 0 0 0 1
0 2 0 2 0
0 0 3 0 0
0 4 0 4 0
5 0 0 0 5

In [21]:
n=int(input())
for i in range (5,0,-1):
    for j in range (5,0,-1):
        if ((i==j or (i+j)==n)):
            print(i,end=" ")
        else:
            print('0',end=" ")
    print()

6
5 0 0 0 5
0 4 0 4 0
0 0 3 0 0
0 2 0 2 0
1 0 0 0 1

In [23]:
for i in range (65,70):
    for j in range (65,70):
        print(chr(j),end=" ")
    print()

A B C D E
A B C D E
A B C D E
A B C D E
A B C D E

In [24]:
for i in range (65,70):
    for j in range (65,70):
        print(chr(i),end=" ")
    print()

A A A A A
B B B B B
C C C C C
D D D D D
E E E E E

In [25]:
for i in range (69,64,-1):
    for j in range (69,64,-1):
        print(chr(i),end=" ")
    print()

E E E E E
D D D D D
C C C C C
B B B B B
A A A A A

In [26]:
for i in range (69,64,-1):
    for j in range (69,64,-1):
        print(chr(j),end=" ")
    print()

E D C B A
E D C B A
E D C B A
E D C B A
E D C B A

In [27]:
for i in range (1,6):
    for j in range (1,6):
        print('*',end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [56]:
for i in range (1,6):
    for j in range (1,6):
        if (i==j or i<j):
            print('*',end=" ")
       
            
    print()

* * * * *
* * * *
* * *
* *
*

In [90]:
for j in range (1,6):
    for i in range (5,0,-1): 
        if (i==j or i<j): 
            print('*',end=" ") 
         
        else:
            print(" ",end=" ") 
             
    print()

        *
      * *
    * * *
  * * * *
* * * * *

In [89]:
for j in range (1,6):
    for i in range (5,0,-1):
        if (i==j or i<j):
            print('*',end=" ")
        
        else:
            print("",end=" ")
            
    print()

    *
   * *
  * * *
 * * * *
* * * * *

In [93]:
for j in range (5,0,-1):
    for i in range (5,0,-1):
        if (i==j or i<j):
            print('*',end=" ")
        
        else:
            print("",end=" ")
            
    print()

* * * * *
 * * * *
  * * *
   * *
    *

In [100]:
for j in range (1,6):
    for i in range (5,0,-1):
        if (i==j or i<j):
            print('*',end=" ")
        
        else:
            print("",end=" ")
    print()
for j in range (5,0,-1):
    for i in range (5,0,-1):
        if (i==j or i<j):
            print('*',end=" ")
        
        else:
            print("",end=" ")
            
    print()

    *
   * *
  * * *
 * * * *
* * * * *
* * * * *
 * * * *
  * * *
   * *
    *

In [35]:
n=int(input())
for i in range (1,6):
    for j in range (1,6):
        if ((i==j) or (j==n-4) or (j==n)):
            print('*',end=" ")
        
        else:
            print(" ",end=" ")
    print()

for i in range (1,6):
    for j in range (1,6):
        if ((i==n) or (j==n-4) or (j==n)  or (i==n-4)):
            print('*',end=" ")

        else:
             print(" ",end=" ")
    print()

5
*       *
* *     *
*   *   *
*     * *
*       *
* * * * *
*       *
*       *
*       *
* * * * *

A student will not be allowed to sit in exam if his/her attendence is less than 75%.
Take following input from user
Number of classes held
Number of classes attended.
And print
percentage of class attended
Is student is allowed to sit in exam or not.

In [1]:
n1=int(input('Number of classes held : '))
n2=int(input('Number of classes attended : '))
per=(n2/n1)*100
print(per)
if (per>=75):
    print(f'student is allowed to sit in exam')
else:
    print(f'student is not allowed to sit in exam')

Number of classes held : 100
Number of classes attended : 76
76.0
student is allowed to sit in exam

In [4]:
n1=int(input('Number of classes held : '))
n2=int(input('Number of classes attended : '))
n3=input('does student has a medical claim: ')

per=(n2/n1)*100
print(per)
if (n3=='Y'):
    print(f'student is allowed to sit in exam')
else:
    print(f'student is not allowed to sit in exam')

Number of classes held : 100
Number of classes attended : 60
does student has a medical claim: Y
60.0
student is allowed to sit in exam

Write a program to check if a year is leap year or not.
If a year is divisible by 4 then it is leap year but if the year is century year like 2000, 1900, 2100 then it must be divisible by 400.

In [10]:
n=int(input('Entar the year : ')) 
if n%4==0 or n%400==0:
    print(f'The given year is a leap year') 
else:
    print('invalid')

Entar the year : 2000
The given year is a leap year

Ask user to enter age, sex ( M or F ), marital status ( Y or N ) and then using following rules print their place of service.
if employee is female, then she will work only in urban areas.

if employee is a male and age is in between 20 to 40 then he may work in anywhere

if employee is male and age is in between 40 t0 60 then he will work in urban areas only.

And any other input of age should print "ERROR".

In [1]:
n1=int(input('enter the age : '))
n2=(input('enter the sex : '))
n3=(input('enter the marital status : '))
n2='M','F'
n3='Y','N'
if n1>=20 and n1<=40 and n2=='M' and n3=='Y':
    print(f'he may work in anywhere')
elif  n1>=40 and n1<=60 and n2=='M' and n3=='Y':
    print(f'he will work in urban areas only')
else:
    print('Error')

enter the age : 55
enter the sex : M
enter the marital status : Y
Error

In [6]:
n=int(input())
for i in range (1,6):
    for j in range (1,6):
        if ((i+j)<=n):
            print(i,end=" ")
    print()

6
1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [13]:
#n=int(input())
for j in range (1,6):
    for i in range (1,6):
        if (i<j or i==j):
            print(i,end=" ") 
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [16]:
for j in range (5,0,-1):
    for i in range (5,0,-1):
        if (i<j or i==j):
            print(j,end=" ") 
    print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [17]:
for j in range (5,0,-1):
    for i in range (5,0,-1):
        if (i<j or i==j):
            print('5',end=" ") 
    print()

5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

In [10]:
for i in range (1,6):
    for j in range (i,0,-1):
        print(j,end=" ")
    print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [11]:
n=int(input())
for i in range (1,6):
    for j in range (0,6):
        if i+j<=n:
            print(j,end=" ")
        
    print()

6
0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

In [19]:
n=1
m=2
for i in range (1,4):
    for j in range (1,m):
        print(n,end=" ")
        n+=1
         
         
           
        
    print()
    m+=2

1
2 3 4
5 6 7 8 9

In [30]:
rows = 6

for i in range(1, rows + 1):

    for j in range(1, i-1):

        print(j, end=" ")

    for j in range(i-1, 0, -1):

        print(j, end=" ")

    print()

1
1 2 1
1 2 3 2 1
1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

In [2]:
#Write a Python function to multiply all the numbers in a list.
def multi(numbers):
    total=1
    for x in numbers:
        total*=x
    return total
print(multi((1,2,3,4,5)))

120

In [6]:
#Write a Python program to reverse a string??
def reve(str1):
    rever1=''
    index = len(str1)
    while index > 0:
        rstr1 += str1[ index - 1 ]
        index = index - 1
    return rstr1

print(reve(("hagvdhgv123")))

3

In [4]:
a=[1,2,3,4,5]
a[::-1]

[5, 4, 3, 2, 1]

In [1]:
x="pqr"

In [8]:
x.upper()

'PQR'

1) Accept three numbers from the user and find the largest and smallest amongst them. Also find the difference between the largest and smallest number obtained. Also calculate how much percent is smallest number of largest number.<br>
2) Accept a students marks from the user and display result as per the condition given below:
a) marks in between 0-30, display 'Fail'
b) marks in between 30-50,display 'Just Pass'
c) marks in between 50-70,display 'Average'
d) marks in between 70-90,display 'Good'
e) marks in between 90-100,display 'Outstanding'
f) marks below 0 and marks above 100, display 'Invalid marks'<br>
3) For a given user entered number, if the number is between 1-100, find 20% of the number, if the number is between 100-300, find 30% of the number, if the number is between 300-700, find 40% of the number and if the number is between 700-1000, find 50% of the number. print invalid number otherwise.

In [3]:
a=int(input('Enter the number: '))
if (a>=1 and a<=100):
    b=a*.20
    print(b)
elif (a>=100 and a<=300):
    b=a*.30
    print(b)
elif (a>=300 and a<=700):
    b=a*.40
    print(b)
elif (a>=700 and a<=1000):
    b=a*.50
    print(b)

Enter the number: 750
375.0

In [17]:
a=int(input('Enter the marks of student: '))
if (a>=0 and a<=30):
    print('fail')
elif (a>=31 and a<=50):
    print('Just Pass')
elif (a>=50 and a<=70):
    print('Average')
elif (a>=70 and a<=90):
    print('Good')
elif (a>=90 and a<=100):
    print('Outstanding')
else:
    print('not valid')

Enter the marks of student: 105
not valid

In [16]:
a=int(input('Enter the first number: '))
b=int(input('Enter the second number: '))
c=int(input('Enter the third number: '))
small,large=0,0
if (a>b and a>c):
    large=a
elif (b>a and b>c):
    large=b
else:
    large=c
if (a<b and a<c):
    small=a
elif(b<a and c>b):
    small=b
else:
    small=c
diff=(large-small)
print(f'{large} is largest')
print(f'{small} is smallest')
print(f'difference of {large} and {small} is {diff}')
per=(small/large)*100
print(per)

Enter the first number: 105
Enter the second number: 45
Enter the third number: 78
105 is largest
45 is smallest
difference of 105 and 45 is 60
42.857142857142854

In [3]:
for i in range (1,6):
    for j in range (1,6):
        print(i,end=" ")
    print()

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [4]:
for i in range (1,6):
    for j in range (1,6):
        print(j,end=" ")
    print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [6]:
for i in range (5,0,-1):
    for j in range (5,0,-1):
        print(i,end=" ")
    print()

5 5 5 5 5
4 4 4 4 4
3 3 3 3 3
2 2 2 2 2
1 1 1 1 1

In [8]:
for i in range (5,0,-1):
    for j in range (5,0,-1):
        print(j,end=" ")
    print()

5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1

In [15]:
n= int (input ('enter a number : '))
for i in range (1,n+1):
    for j in range (1,6):
        if (i>=j):
            print(1,end=" ")
        else:
            print(0,end=" ")
    print()

enter a number : 5
1 0 0 0 0
1 1 0 0 0
1 1 1 0 0
1 1 1 1 0
1 1 1 1 1

In [29]:
for i in range (1,6):
    for j in range (1,6):
        if ((i+j)%2==0 or i==j):
            print('0',end=" ")
        else:
            print('1',end=" ")
    print()

0 1 0 1 0
1 0 1 0 1
0 1 0 1 0
1 0 1 0 1
0 1 0 1 0

In [34]:
n=int(input('enter a number : '))
for i in range (1,6):
    for j in range (1,6):
        if ((i+j)==n or i==j):
            print(i,end=" ")
        else:
            print('0',end=" ")
    print()

enter a number : 6
1 0 0 0 1
0 2 0 2 0
0 0 3 0 0
0 4 0 4 0
5 0 0 0 5

In [35]:
n=int(input('enter a number : '))
for i in range (5,0,-1):
    for j in range (5,0,-1):
        if ((i+j)==n or i==j):
            print(i,end=" ")
        else:
            print('0',end=" ")
    print()

enter a number : 6
5 0 0 0 5
0 4 0 4 0
0 0 3 0 0
0 2 0 2 0
1 0 0 0 1

In [36]:
for i in range (65,70):
    for j in range (65,70):
        print(chr(i),end=" ")
    print()

A A A A A
B B B B B
C C C C C
D D D D D
E E E E E

In [37]:
for i in range (65,70):
    for j in range (65,70):
        print(chr(j),end=" ")
    print()

A B C D E
A B C D E
A B C D E
A B C D E
A B C D E

In [38]:
for i in range (69,64,-1):
    for j in range (65,70):
        print(chr(i),end=" ")
    print()

E E E E E
D D D D D
C C C C C
B B B B B
A A A A A

In [40]:
for i in range (69,64,-1):
    for j in range (69,64,-1):
        print(chr(j),end=" ")
    print()

E D C B A
E D C B A
E D C B A
E D C B A
E D C B A

In [41]:
for i in range (1,6):
    for j in range (1,6):
        print('x',end=" ")
    print()

x x x x x
x x x x x
x x x x x
x x x x x
x x x x x

In [54]:
n=int(input('enter a number : '))
for i in range (1,6):
    for j in range (1,6):
        if (i+j<=n):
            print('x',end=" ")
        else:
            print(' ',end=" ")
        
        
    print()

enter a number : 6
x x x x x
x x x x
x x x
x x
x

In [47]:
n=int(input('enter a number : '))
for i in range (1,6):
    for j in range (5,0,-1):
        if (i+j<=n):
            print('x',end=" ")
        else:
            print(' ',end=" ")
    print()

enter a number : 6
x x x x x
  x x x x
    x x x
      x x
        x

In [48]:
n=int(input('enter a number : '))
for i in range (5,0,-1):
    for j in range (5,0,-1):
        if (i+j<=n):
            print('x',end=" ")
        else:
            print(' ',end=" ")
    print()

enter a number : 6
        x
      x x
    x x x
  x x x x
x x x x x

In [49]:
n=int(input('enter a number : '))
for i in range (5,0,-1):
    for j in range (5,0,-1):
        if (i+j<=n):
            print('x',end=" ")
        else:
            print('',end=" ")
    print()

enter a number : 6
    x
   x x
  x x x
 x x x x
x x x x x

In [52]:
n=int(input('enter a number : '))
for i in range (1,6):
    for j in range (5,0,-1):
        if (i+j<=n):
            print('x',end=" ")
        else:
            print('',end=" ")
    print()

enter a number : 6
x x x x x
 x x x x
  x x x
   x x
    x

In [53]:
n=int(input('enter a number : '))
for i in range (1,6):
    for j in range (5,0,-1):
        if (i+j>=n):
            print('x',end=" ")
        else:
            print('',end=" ")
    print()

enter a number : 6
x
x x
x x x
x x x x
x x x x x

In [1]:
n=int(input('enter a number : '))
for i in range (5,0,-1):
    for j in range (5,0,-1):
        if (i+j<=n):
            print('x',end=" ")
        else:
            print('',end=" ")
    print()
for i in range (1,6):
    for j in range (5,0,-1):
        if (i+j<=n):
            print('x',end=" ")
        else:
            print('',end=" ")
    print()

enter a number : 6
    x
   x x
  x x x
 x x x x
x x x x x
x x x x x
 x x x x
  x x x
   x x
    x

In [12]:
n=int(input('enter a number : '))
for i in range (1,6):
    for j in range (1,6):
        if ((j==n-4) or (i==j) or (j==n)):
            print('x',end=" ")
        else:
            print(' ',end=" ")
    print()
for i in range (1,6):
    for j in range (1,6):
        if ((j==n-4) or (j==n) or (i==n-4) or (i==n)):
            print('x',end=" ")
        else:
            print(' ',end=" ")
    print()

enter a number : 5
x       x
x x     x
x   x   x
x     x x
x       x
x x x x x
x       x
x       x
x       x
x x x x x

In [16]:
for i in range (0,6):
    for j in range (0,7):
        if ((i+j==8) or (i==0 and j%3!=0) or (i==1 and j%3==0) or (i-j==2) ):
            print('x',end=" ")
        else:
            print(" ",end=" ")
    print()

  x x   x x
x     x     x
x           x
  x       x
    x   x
      x

In [26]:
for i in range (1,6):
    for j in range (5,0,-1):
        if (j<=i):
            print(j,end=" ")
        else:
            print(" ",end=" ")
        
    print()

        1
      2 1
    3 2 1
  4 3 2 1
5 4 3 2 1

In [31]:
for i in range (1,6):
    for j in range (5,0,-1):
        if (i<=j):
            print(i,end=" ")
        else:
            print(" ",end=" ")
        
    print()

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [35]:
for i in range (1,6):
    for j in range (1,6):
        if (i==j or i<j):
            print(j,end=" ")
        else:
            print(" ",end=" ")
        
    print()

1 2 3 4 5
  2 3 4 5
    3 4 5
      4 5
        5

In [39]:
for i in range (1,6):
    for j in range (1,6):
        if (j<=i):
            print(j,end=" ")
        else:
            print(" ",end=" ")
        
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [40]:
for i in range (5,0,-1):
    for j in range (1,6):
        if (j<=i):
            print(i,end=" ")
        else:
            print(" ",end=" ")
        
    print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [48]:
for i in range (1,6):
    for j in range (i,0,-1):
        
           
            print(j,end=" ")
            
        
        
    print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [49]:
n=1
m=2
for i in range (1,4):
    for j in range (1,m):
        print(n,end=" ")
        n+=1
    print()
    m+=2

1
2 3 4
5 6 7 8 9

In [55]:
n=15
m=2
for i in range (1,6):
    for j in range (1,m):
        print(n,end=" ")
        n-=1
    print()
    m+=1

15
14 13
12 11 10
9 8 7 6
5 4 3 2 1